@keyframes inset {
    from {opacity: 0;}
    to {opacity: 1;}
}

.comment {
    animation-name: inset;
    animation-duration: 1s;
    border-top: 1px solid #e8e8e8;
    padding: 10px;
}

.user_img {
    width: 16px;
    height: 16px;
    display: inline-block;
    padding-right: 5px;
    vertical-align: text-top;
}

.comment_text { 
    background: aliceblue;
    padding: 10px;
}